<!DOCTYPE html><!--set version to html 5-->
<html>
    <!--for metadata of this document-->
    <head>
        <link rel="stylesheet" href="style.css"/>
        <!--librery of css for icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">  
        <title>Amazona</title> 
    </head> 
    <!--content of this document-->
    <body>

        <!--div is html element that help you to create different sections-->
        <div class="grid-container">
        
            <!--header-->
            <header class="row">
                <div>
                    <a class="brand" href="index.html">amazona</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>

            <!--main-->
            <main>
               <div class="row center">
                 <!--create product item to display-->   
                 <div class="card">
                     <a href="product.html">
                         <!--image size should be 680px by 830px-->
                         <img class="medium" src="./images/p1.jpg" alt="product"/>
                     </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike slim shirts</h2>
                        </a>
                        <div class = "rating">
                            <span>  <i class="fa fa-star"></i> </span>
                            <span>  <i class="fa fa-star"></i> </span>
                            <span>  <i class="fa fa-star"></i> </span> 
                            <span>  <i class="fa fa-star"></i> </span>
                            <span>  <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$120</div>
                         
                    </div>

                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size should be 680px by 830px-->
                        <img class="medium" src="./images/p1.jpg" alt="product"/>
                    </a>
                   <div class="card-body">
                       <a href="product.html">
                           <h2>Nike slim shirts</h2>
                       </a>
                       <div class = "rating">
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span> 
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                       </div>
                       <div class="price">$120</div>
                        
                   </div>

                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size should be 680px by 830px-->
                        <img class="medium" src="./images/p1.jpg" alt="product"/>
                    </a>
                   <div class="card-body">
                       <a href="product.html">
                           <h2>Nike slim shirts</h2>
                       </a>
                       <div class = "rating">
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span> 
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                       </div>
                       <div class="price">$120</div>
                        
                   </div>

                 </div>
                 <div class="card">
                    <a href="product.html">
                        <!--image size should be 680px by 830px-->
                        <img class="medium" src="./images/p1.jpg" alt="product"/>
                    </a>
                   <div class="card-body">
                       <a href="product.html">
                           <h2>Nike slim shirts</h2>
                       </a>
                       <div class = "rating">
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span> 
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                       </div>
                       <div class="price">$120</div>
                        
                   </div>

                 </div>
                 <div class="card">
                    <a href="product.html">
                        <!--image size should be 680px by 830px-->
                        <img class="medium" src="./images/p1.jpg" alt="product"/>
                    </a>
                   <div class="card-body">
                       <a href="product.html">
                           <h2>Nike slim shirts</h2>
                       </a>
                       <div class = "rating">
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span> 
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                       </div>
                       <div class="price">$120</div>
                        
                   </div>

                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size should be 680px by 830px-->
                        <img class="medium" src="./images/p1.jpg" alt="product"/>
                    </a>
                   <div class="card-body">
                       <a href="product.html">
                           <h2>Nike slim shirts</h2>
                       </a>
                       <div class = "rating">
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span> 
                           <span>  <i class="fa fa-star"></i> </span>
                           <span>  <i class="fa fa-star"></i> </span>
                       </div>
                       <div class="price">$120</div>
                        
                   </div>

                </div>

               </div>
            </main>

            <!--footer-->
            <footer class="row center">All right reserved</footer>

        </div>

    </body> 
</html>
